In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df_data = pd.read_csv(r"C:\Users\siava\Desktop\finalds.txt", header=None)

In [8]:
df_data.head(5).T

            0          1          2          3          4
0    6.000000  24.000000  13.000000  10.000000  29.000000
1   21.000000  27.000000   9.000000  12.000000  28.000000
2   11.000000  20.000000   7.000000  15.000000  26.000000
3   10.000000  26.000000   3.000000  19.000000  20.000000
4   12.000000  28.000000   4.000000  23.000000  27.000000
5   15.000000  29.000000   8.000000  22.000000  25.000000
6   18.000000  21.000000   5.000000  18.000000  24.000000
7   19.000000  18.000000   1.000000  17.000000  16.000000
8   23.000000  22.000000   2.000000  21.000000  14.000000
9   22.000000  23.000000   6.000000  29.000000  13.000000
10  29.000000  19.000000  11.000000  28.000000   9.000000
11  28.000000  15.000000  10.000000  25.000000   7.000000
12  26.000000  12.000000  12.000000  27.000000   3.000000
13  27.000000  10.000000  15.000000  20.000000   4.000000
14  25.000000  11.000000  19.000000  26.000000   8.000000
15  24.000000   6.000000  23.000000  24.000000   5.000000
16  16.000000   2.000000  22.000000  16.000000   1.000000
17  20.000000   1.000000  18.000000  14.000000   2.000000
18  17.000000   5.000000  17.000000  13.000000  10.000000
19  14.000000   8.000000  24.000000   9.000000  11.000000
20  13.000000   4.000000  25.000000   7.000000   6.000000
21   9.000000   3.000000  27.000000   3.000000  12.000000
22   7.000000   7.000000  20.000000   4.000000  15.000000
23   3.000000   9.000000  26.000000   8.000000  19.000000
24   4.000000  13.000000  28.000000   5.000000  23.000000
25   8.000000  14.000000  29.000000   1.000000  22.000000
26   5.000000  17.000000  21.000000   2.000000  18.000000
27   1.000000  16.000000  16.000000   6.000000  17.000000
28   2.000000  25.000000  14.000000  11.000000  21.000000
29   0.258962   0.612647   0.293799   0.170954   0.249137

In [12]:
df_label = pd.read_csv(r"C:\Users\siava\Desktop\f_label.txt", header=None)

In [13]:
df_label.head(5)

   0
0  0
1  1
2  0
3  0
4  0

In [15]:
df = pd.concat([df_data, df_label], axis = 1)

In [16]:
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,0
0,6,21,11,10,12,15,18,19,23,22,...,9,7,3,4,8,5,1,2,0.258962,0
1,24,27,20,26,28,29,21,18,22,23,...,3,7,9,13,14,17,16,25,0.612647,1
2,13,9,7,3,4,8,5,1,2,6,...,27,20,26,28,29,21,16,14,0.293799,0
3,10,12,15,19,23,22,18,17,21,29,...,3,4,8,5,1,2,6,11,0.170954,0
4,29,28,26,20,27,25,24,16,14,13,...,12,15,19,23,22,18,17,21,0.249137,0

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(df_data, df_label, test_size=0.33, random_state=42)

In [20]:
from sklearn.preprocessing import MinMaxScaler

In [21]:
scaler = MinMaxScaler()

In [22]:
X_train = scaler.fit_transform(X_train)

In [23]:
X_test = scaler.transform(X_test)

In [33]:
from keras.models import Sequential
from keras.layers import Dense

In [34]:
from tensorflow.keras.callbacks import EarlyStopping
early_stop = EarlyStopping(monitor="val_loss", mode="min", verbose=1, patience=25)

In [35]:
model = Sequential()

model.add(Dense(19,activation="relu"))
model.add(Dense(19,activation="relu"))
model.add(Dense(19,activation="relu"))
model.add(Dense(19,activation="relu"))

model.add(Dense(1, activation = "sigmoid"))

model.compile(optimizer="adam", loss="binary_crossentropy", metrics = "accuracy")

In [49]:
model.fit(x=X_train, y=y_train, 
         validation_data=(X_test,y_test),
         batch_size=128,epochs=1,callbacks=[early_stop])

13995/13995 [==============================] - 24s 2ms/step - loss: 0.3327 - accuracy: 0.8372 - val_loss: 0.3324 - val_accuracy: 0.8393

In [50]:
losses = pd.DataFrame(model.history.history)
losses

       loss  accuracy  val_loss  val_accuracy
0  0.332732  0.837152  0.332446      0.839268

In [51]:
predictions = model.predict_classes(X_test)
predictions

array([[0],
       [1],
       [0],
       ...,
       [0],
       [0],
       [1]])

In [41]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.95      0.79      0.86    581307
           1       0.69      0.91      0.79    300949

    accuracy                           0.83    882256
   macro avg       0.82      0.85      0.82    882256
weighted avg       0.86      0.83      0.83    882256